#login{
  background-color:#fcf8f2;
  width:100%;
  margin:0 auto;
  min-height:100vh;
  overflow: auto;
  text-align:center;
  padding-top: 35px;
}
#formStyle {
    margin-top: 50px;
    margin-bottom: 50px;
}
#formStyle input{
  padding:15px;
  margin-bottom:10px;
  border-radius:7px;
  border:none;
  width:95%;
  background-color: rgba(228, 228, 228, 0.76);
}

#formStyle form{
  margin: 0 auto;
  width:90%;
  /*padding:30px;*/
}

.logo{
    padding: 0px;
}

.formStyleInput:hover {
    background-color: #D1E16E;
}

.formStyleButton:hover {
    background-color: #FFA67D;
}

.form_wrap {
    background-color:#fcf8f2;
    /*margin-top: 100px;*/

}
#formStyle h2{
    background-color: #fcf8f2;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    color: #FFA67D;
    font-size: 3em;
    padding: 20px 26px;
}

#formStyle input[type="submit"]{
  background-color: rgba(255, 166, 125, 0.84);
  border: none;
  color: #fcf8f2;
  font-size: 2em;
}

#formStyle .error{height:30px; color:#FFA67D;
}
#formStyle input.ng-valid.ng-touched{
  border:2px solid #D1E16E;
}
#formStyle input.ng-invalid.ng-touched {
  border:2px solid #FFA67D;
 }
